@import "./partials/bootstrap-overrides";

.bg-main {
  background-color: $purple;
}

.bg-section {
  background-color: $gray-500;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.color-rating {
  color: $yellow;
}

.color-text {
  color: $purple;
}
